
.parent {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    position: relative;
    margin: 3%;
    height: fit-content;   
}
.bttn {
  background-color: #a1770a;
  padding: 0%;
  border-radius: 0%;
  color: white;
}
.bttn {
  display: inline-block;
  margin: 15px;
  padding: 100px 100px;
  background-color: #a1770a;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 0%;
  transition: 0.3s;
}
.bttn:hover {
  background-color: #6fa6e4;
}

   
.div1 {
    grid-row: span 5 / span 5;
}
.div1 {
  background: white;
  border-radius: 0%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.div1:hover {
  transform: translateY(-6px);
}

.div1 img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  
}

.div1 h3 {
  margin: 2rem 1rem 0.5rem;
  color: #1e3c72; /* deep blue */
  font-size: 2rem;
}

.div1 p {
  margin: 0 1rem 1rem;
  color: #555;
  font-size: 0.9rem;
  line-height: 1.3;
}


.div2 {
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 6;
}

.div2 {
  background: white;
  border-radius: 0%;
  box-shadow: 0 1px 5px rgba(0,0,0,0.08);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.div2:hover {
  transform: translateY(-6px);
}
.div2:hover {
  background-color: #a1770a;
}

.div2 img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-bottom: 3px solid #77b04a;
}

.div2 h3 {
  margin: 0.8rem 1rem 0.5rem;
  color: #1e3c72; /* deep blue */
  font-size: 1.1rem;
}

.div2 p {
  margin: 0 1rem 1rem;
  color: #555;
  font-size: 0.9rem;
  line-height: 1.3;
}
.div2 {
  display: inline-block;
  margin: 0px;
  padding: 100px 50px;
  background-color: #299cd1c9;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.3s;
}

.div3 {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 1;
}
.div3 {
  background: white;
  border-radius: 0%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.08);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.div3:hover {
  transform: translateY(-6px);
}

.div3 img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-bottom: 3px solid #77b04a;
}

.div3 h3 {
  margin: 0.8rem 1rem 0.5rem;
  color: #1e3c72; /* deep blue */
  font-size: 1.1rem;
}

.div3 p {
  margin: 0 1rem 1rem;
  color: #555;
  font-size: 0.9rem;
  line-height: 1.3;
}


.div4 {
    grid-row: span 5 / span 5;
    grid-column-start: 2;
    grid-row-start: 3;
}
.div4 {
  background: white;
  border-radius: 0%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.div4:hover {
  transform: translateY(-6px);
}

.div4 img {
  width: 100%;
  height: 50%;
  object-fit: cover;

}

.div4 h3 {
  margin: 2rem 1rem 0.5rem;
  color: #1e3c72; /* deep blue */
  font-size: 2rem;
}

.div4 p {
  margin: 1rem 2rem;
  color: #555;
  font-size: 0.9rem;
  line-height: 1.3;
}


.div5 {
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 1;
}
.div5 {
  background: white;
  border-radius: 0%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.div5:hover {
  transform: translateY(-6px);
}

.div5 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0% 0px;
  display: flex;
  border-radius: 0%;
  position: relative;
 
}

.div5 h3 {
  margin: 0.8rem 1rem 0.5rem;
  color: #1e3c72; /* deep blue */
  font-size: 1.1rem;
}

.div5 p {
  margin: 0 1rem 1rem;
  color: #555;
  font-size: 0.9rem;
  line-height: 1.3;
}


.div6 {
    grid-row: span 4 / span 4;
    grid-column-start: 3;
    grid-row-start: 4;
}
.div6 {
  background: white;
  border-radius: 0%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.div6:hover {
  transform: translateY(-6px);
}

.div6 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0% 0px;
  display: flex;
  border-radius: 0%;
  position: relative;
 
}

.div6 h3 {
  margin: 0.8rem 1rem 0.5rem;
  color: #1e3c72; /* deep blue */
  font-size: 1.1rem;
}

.div6 p {
  margin: 0 1rem 1rem;
  color: #555;
  font-size: 0.9rem;
  line-height: 1.3;
}

        