body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: #e0d3c6fa;
  height: 70px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.heading {
  display: flex;
  align-items: center;
  left: 50px;
}

.img-cover {
  position: relative;
  z-index: 100;
  display: flex;
}

.img-background {
  position: absolute;
  background-color: white;
  padding: 10px;
  margin-left: 40px;
}

.img-cover img {
  width: 90px;
  height: 90px;
  position: relative;
}

.header-list {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

li {
  padding: 10px;
  list-style: none;
  margin-right: 10px;

}

.donate {
  background-color: #a1770a;
  padding: 10px;
  border-radius: 4px;
  color: white;
}


/* gallery styles  */
section {
  background-color: rgb(200, 233, 247);
  padding: 10px 0;
}

.gallery-tittle {
  text-align: center;
}

.gallery-cover {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  padding: 0 40px;

}

.gallery-images {
  position: relative;
  display: block;
  margin: 0 auto;
}

.gallery-images>p {
  text-align: center;
  font-weight: 600;
}

.gallery-images>img {
  width: 400px;
  height: 410px;
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;

}

.image-info {
  position: absolute;
  /* top: 0px; */
  left: 0px;
  right: 0px;
  bottom: 50px;
  background-color: rgba(0, 0, 0, 0.45);
  width: 100%;
  height: 0;
  transition: .8s ease;
  text-align: center;
  overflow: hidden;
}
.image-info>p{
  padding:0 10px;
}

.gallery-images:hover .image-info {
  height: 89%;
  color: white;
}
.more-images{
  display: none;
}